<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSU CS Department Research Survey</title>
    <link rel="icon" href="{{ url_for('static', filename='Gsulogo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styling.css') }}">
</head>
<body>
    <div class="home">
        <h1 id="topic">The Teacher Feedback Portal!</h1>
        <h1 id="intro">Project Survey Instructions</h1>
        <div id="intro_para">
            <p>This portal is designed to enable Georgia high school teachers to identify areas they perceive have low student exposure to computer science (CS) education.</p>
            <p>You are asked to:</p>
            <ol>
                <li>Select your role and relevant information,</li>
                <li>Select your district and school,</li>
                <li>View a map of the surrounding areas, based on established school zone boundaries, along with main roads and landmarks.</li>
            </ol>
            <p>Participants can then:</p>
            <ul>
                <li>Mark regions that they identify with low CS exposure through block-specific clicks.</li>
                <li>Articulate influencing factors from a predefined list, with an option to add custom factors.</li>
            </ul>
            <p>The objective is to empower educators to collaboratively pinpoint areas lacking CS exposure, fostering a deeper understanding of the challenges involved.</p>
            <p>The resulting data will be used to validate the Co-SEA Risk Index, a metric to score census block groups with their risk of access to CS education. By scoring census block groups in this way, stakeholders can strategically place interventions where most needed to broaden participation in computing.</p>
        </div>
        <a href="{{ url_for('role_selection') }}"><button id="next">Get Started</button></a>
    </div>
</body>
</html>